<div class="outer">
    <div class="scroll-window">
        <h1>Overview</h1>
        <p>
            The E2C-Sim simulates an environment where a workload of tasks are sent to be performed upon by a group of machines, 
            or system. In the simulation, each task must arrive at a scheduler, which allots that task to a specific machine based
            on the scheduler policy (more information about scheduling below at Scheduling Policies). Each machine has its own
            properties which are detailed more in the Defining Machines section.

        </p>
    </div>
</div>