// Bootstrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

// Fonts
@font-face{
    font-family: "RobotoMono";
    src: url("./assets/fonts/RobotoMono-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
  }

// Color Palette
$black: #111;
$midnite: #123;
$dark-gray: #333;
$gray: #666;
$lite-gray: #AAA;
$white: #EEE;
$midnite: #123;
$bluesmoke: #345;
$shale: #678;
$periwinkle: #ABC;
$silver: #DEF;