<div class="outer">

    <div class="scroll-window">

        <h1 class="section-title">Installation Guide</h1>

        <p class="section-body">  </p>
            <ol class="section-body"> 
                <li> 
                    Download Anaconda from https://www.anaconda.com/products/distribution and follow the installation instructions (https://docs.anaconda.com/anaconda/install/). Once the installation is complete, make sure to restart your terminal.

                </li>

                <li> 
                    Clone the repository:
                    <div class="code">
                        <code class="newline"> git clone https://github.com/hpcclab/E2C-Sim.git </code>
                    </div>
                </li>

                <li> From the E2C-Sim/V1 directory, run the following command to install required packages. 
                    <div class="code">
                        <code class="newline"> conda env create -f environment.yml</code>
                    </div>
                     (Note: Linux users may need to run conda env export --no-builds > environment.yml prior)
                </li>
            <li> Activate the environment in Anaconda Prompt: 
                <div class="code">
                    <code class="newline"> conda activate simulator </code>
                </div>
            </li>
            <li> Within the V1 directory, you can run <code> python main.py </code>
            </li>
            <li>To change the config of the machines and task types, open config.json and add new task types in the same format present and increase or decrease the amount of each machine present as well as add new machine types etc also in the format present.
            Once the desired changes have been made, save the changed files and run python main.py to see the results in the window.
           </li>
           


            </ol>
            <!-- <p class="section-body"> Note: if you have errors involving any packages such as pandas, pyqt, matplotlib, etc. open the Anaconda Navigator to ensure they are applied to the simulator environment. </p> -->
            
            

       

       

        <h3 class="sub-section-title" id="windows-install">Windows</h3>

        

        <h3 class="sub-section-title" id="mac-install">MacOS</h3>

        

        <h3 class="sub-section-title" id="linux-install">Linux</h3>

       

    </div>

</div>