@import "../../../../styles.scss";

div.outer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.scroll-window{
        width: 85%;
        height: 100%;
        overflow-y: scroll;

        h1.section-title{
            font-family: Roboto, sans-serif;
            color: $gray;
            font-size: 3em;
            line-height: 1.6;
        }

        h3.sub-section-title{
            font-family: Roboto, sans-serif;
            color: $gray;
            font-size: 2em;
        }

        p.section-body{
            font-family: Roboto, sans-serif;
            color: $gray;
            font-size: 1.25em;
            line-height: 30px;
            
        }
        ol.section-body{
            font-family: Roboto, sans-serif;
            color: $gray;
            font-size: 1.25em;
            line-height: 40px;


        }

        code {
            font-family: Consolas,"courier new";
            color: crimson;
            background-color: #f1f1f1;
            padding: 2px;
            font-size: 105%;
          }
    }
}