<div class="outer">

    <div class="scroll-window">

        <h1 class="section-title">What is E2C-Sim?</h1>

        <p class="section-body">
            The E2C Sim is an open source simulator developed by the HPCC lab of the University of Louisiana Lafayette that simulates the edge-to-cloud environment, which is the interaction between local software/hardware (edge) and cloud centers. The edge device sends workloads to be handled by the cloud, in which the workload consists of different types of tasks. Different machines can handle tasks, and the scheduling policies decide how each task is handled.
        </p>

    </div>

</div>