@import "../../../../styles.scss";

div.outer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.scroll-window{
        width: 85%;
        height: 100%;
        overflow-y: scroll;

        h1.section-title{
            font-family: Roboto, sans-serif;;
            color: $gray;
            font-size: 3em;
        }

        p.section-body{
            font-family: Roboto, sans-serif;
            color: $gray;
            font-size: 1.25em;
        }
    }
}
