<div class="outer">
    <div class="scroll-window">
        <h1>Machine Queue</h1>
        <p>
            Each machine has its own queue which tasks are submitted to. The task that arrived the earliest in time will be allotted to the queue’s respective machine to be completed.
            You can click on the frame of machine queues to open a menu on the right to change the queue size. Enter a number and press enter for changes to take effect. For immediate scheduling policies, the machine queue size is automatically set to unlimited and cannot be altered.

        </p>
        <img src="assets/images/mq.PNG" class="img-center">
        
    </div>
</div>