@import "../../../../styles.scss";

div.outer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.scroll-window{
        width: 85%;
        height: 100%;
        overflow-y: scroll;

        h1.section-title{
            font-family: 'Source Sans Pro', sans-serif;
            color: $gray;
            font-size: 2em;
        }

        h2.section-title{
            font-family: 'Source Sans Pro', sans-serif;
            color: $gray;
            font-size: 1.5em;
        }

        p.section-body{
            font-family: 'Source Sans Pro', sans-serif;
            color: $gray;
            font-size: 1.0em;
            line-height: 1.5em;
        }
        ol.section-body{
            font-family: 'Source Sans Pro', sans-serif;
            color: $gray;
            font-size: 1.0em;
            line-height: 1.5em;

        }
        ul.section-body{
            font-family: 'Source Sans Pro', sans-serif;
            color: $gray;
            font-size: 1.0em;
            line-height: 1.5em;

        }
    }
}