<div class="outer">

    <div class="scroll-window">

        <h1> Defining a Scenario
        </h1>

        <p> 
            Each scenario has a task type and an amount of tasks in total for that given scenario. They each have a start time, an end time, and a distribution method. For example, a scenario has 20 tasks of task type “T1.” The distribution defines each individual task’s arrival time, somewhere between the start and end time of that scenario. E.g., an exponential distribution would show fewer tasks arriving near the start time, and increase their arrival rates exponentially as it progressed towards the end time. 


            
        </p>


    </div>

</div>
