<div class="outer">
    <div class="scroll-window">
        <h1>Scheduler</h1>
        <p>
            The scheduler, or scheduling policy, is what makes the decision of which machine to submit each task to. You can change the policy by clicking on the icon (as seen below) within the application. The two main categories of scheduling are batch scheduling and immediate scheduling. In batch scheduling, tasks are kept in a batch queue before being submitted so that the scheduler can make a more informed decision of which machine to submit to. In Immediate scheduling, the scheduler does not wait and will attempt to submit tasks upon their arrival. Between both categories, there are various different scheduling policies that are listed below in the Scheduling Policies section.
        </p>
        <img src="assets/images/sc.PNG" class="img-center">
        
    </div>
</div>