<div class="outer">

    <div class="scroll-window">

        <h1> Workload Generation</h1>

        <p> 
            A workload consists of scenarios, where each scenario is a group of tasks consisting of the same task type (more about scenarios and task types in the following two sections). A workload can be made of multiple scenarios, each having a different task type. The workload represents the full set of incoming tasks to be processed by the simulated machines.

            
        </p>


    </div>

</div>


