<div class="outer">

    <h1 >Getting Started</h1>

    <p>
        The first step to start the <i>E<sup>2</sup>C</i> application is to change the working directory to the repository location. Next, you should type the below command in terminal or Anaconda Prompt (Windows) to activate the <code class="newline">simulator</code> environment:
    </p>
        <div class="code">
            <code class="newline">
                conda activate simulator
            </code>
        </div>
    <p>
        To access the <code class="newline">main.py</code> module, navigate to <code class="newline">E2C-Sim/V1/</code> folder. Then, type the follwoing command in terminal to start the <i>E<sup>2</sup>C</i> applications: <br>
    </p>
        <div class="code">
            <code class="newline">
                python main.py
            </code>
        </div>
    <p >
        
        The application interface appears as shown in figure below: <br> <br>
        <img src="assets/images/e2c_overview.png"
            width = 90%
            height = auto />
        
        <br clear="all" />
        The application interface constitutes of four parttions: 
        
    </p>
        <ol >
            <li> Graphic View : The schematic of the system components are shown here. In addition, processing the workload is animating in this view part. Note that the components in Graphic View are clickable. </li>
            <li> Right Dock: Once a user click on a selectable component in Graphic View, the related information is shown in the Right Dock.</li>
            <li> Play Control: It contains the control buttons that enable the user to start, pause, or incremental step forward the animation. In additon, the user can use the reset button to reset the system settings to default values. </li>
            <li> Menubar: The user can have access to the reports via Report menu. Also, a general information about the <i>E<sup>2</sup>C</i> can be found in Help menu.</li>

        </ol>        
    <h2 class="section-title"> System Components</h2>
    <p class="section-body"> </p>
        <ul class="section-body">
            <li>Workload</li>
            <li>Scheduler</li>
            <li>Machine Queue</li>
            <li>Machine</li>
            <li>Task</li>

        </ul>


</div>

