.outer{       
    font-family: 'Roboto', sans-serif;     
    text-align: justify;
    font-size:1.3rem;
    line-height: 3.0rem;
    color:rgb(24, 24, 24);
    font-weight: 350;    
    width:40%;
    margin: 5em 10em 10em 10em;
    

}

h1,h2{
    text-align: left;
    color:rgb(0, 0, 0);
    margin-bottom: 3rem;
}

.code{
    display: inline-block;
    font-family:'Courier New', Courier, monospace;
    color:red;    
    margin-left:1rem;
    padding-left:20px;
    padding-right: 20px;
    border-radius: 5px;

    background-color: rgb(231, 231, 231);
}

