<div class="outer">
    <div class="scroll-window">
        <h1>Example 2: Loading a Pre-existing Heterogeneous Edge</h1>

        <ol>

            <li>
                Begin by clicking the Workload tab. On the right, you may load an EET file, workload file, or both.

                <img src="assets/images/instruct.PNG" class="img-center" height="400">
            </li>

            <li>
                Let's start by loading an EET file. Click the “Load” button next to the EET matrix. Your file explorer will open to the V1 directory.

                
            </li>

            <li>
                Navigate to the directory “samples” and you may choose from a low, medium, or high intensity (arrival rate).
                <p>
                    Note: For EET files, all three sample folders each have a heterogeneous EET and a homogeneous EET. Between EET files of the same type, they remain identical across all sample folders. 
                </p>
                <img src="assets/images/folder.PNG" class="img-center">


            </li>



            <li>
                To load a heterogeneous system, choose the file “etc_heterogeneous.csv,” which will load the file and return you to the simulator screen.
            </li>

            <li>
                You may also want to load an existing workload file in the same way. To do this, click “Load” next to the workload matrix and perform the same steps as above, but this time, choose a sample file that starts with “workload” of the desired intensity, e.g. “workload_medium.csv”.

            </li>

            <li>
                Finally, press the “Submit” button.
            </li>

        </ol>

        <p>
            Be aware that when loading your own EET and workload files, they must be correctly formatted and also be compatible with each other, otherwise you will receive an error. All task types included in the workload must be present in the EET file, as shown in the matrix.
  
        </p>



        
        
        
    </div>
</div>